body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.app {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    margin: auto;
    align-items: center;
    padding-top: 12px;
    flex-grow: 1;
}

@keyframes levitate {
    0% { transform: translateY(0); }
    50% { transform: translateY(-8px); }
    100% { transform: translateY(0); }
}

@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes moveLeft {
    0% { transform: translateX(0); }
    50% { transform: translateX(-8px); }
    100% { transform: translateX(0); }
}

@keyframes moveRight {
    0% { transform: translateX(0); }
    50% { transform: translateX(8px); }
    100% { transform: translateX(0); }
}

.masterContainer {
    display: flex;
}

.masterPic{
    cursor: pointer;
    animation: levitate 4s ease-in-out infinite;
    z-index: 1;
}

.cloud1 {
    position: absolute;
    top: 110px;
    animation: moveLeft 3s ease-in-out infinite;
    z-index: 0;
}

.cloud2 {
    position: absolute;
    top: 108px;
    margin-left: 70px;
    animation: moveRight 5s ease-in-out infinite;
    z-index: 1;
}

.userPic {
    opacity: .8;
}

.inputContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
    width: 100%;
}

.chatInput {
    width: 280px;
    height: 40px;
    border: 1px solid #cecece;
    border-radius: 8px 0 0 8px;
    padding-left: 8px;
}

.chatInputNoBorder {
    width: 280px;
    height: 40px;
    border: none;
    border-radius: 8px;
    padding-left: 8px;
}

.chatButton {
    width: 50px;
    height: 44px;
    border: none;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
    background-color: #ffb32b;
    color: white;
}

.loader {
    margin-left: 8px;
    opacity: .60;
    animation: rotate 4s linear infinite;
}

.chat {
    display: flex;
    flex-direction: column;
}

.messages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    min-width: 350px;
    max-width: 400px;
}

.userChat {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    min-width: 95%;
    margin: auto;
}

.botChat {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #dedede;
    border-radius: 16px;
    padding: 12px;
}

.footer {
    background-color: #ffb32b;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
    margin-top: 60px;
}

.madeBy {
    color: white;
    cursor: pointer;
}

.madeBy:hover {
    text-decoration: none;
}