body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.app {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    margin: auto;
    align-items: center;
    padding-top: 12px;
    flex-grow: 1;
}

@keyframes levitate {
    0% { transform: translateY(0); }
    50% { transform: translateY(-8px); }
    100% { transform: translateY(0); }
}

@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes moveLeft {
    0% { transform: translateX(0); }
    50% { transform: translateX(-8px); }
    100% { transform: translateX(0); }
}

@keyframes moveRight {
    0% { transform: translateX(0); }
    50% { transform: translateX(8px); }
    100% { transform: translateX(0); }
}

.masterContainer {
    display: flex;
}

.masterPic{
    cursor: pointer;
    animation: levitate 4s ease-in-out infinite;
    z-index: 1;
}

.cloud1 {
    position: absolute;
    top: 100px;
    animation: moveLeft 3s ease-in-out infinite;
    z-index: 0;
}

.cloud2 {
    position: absolute;
    top: 102px;
    margin-left: 70px;
    animation: moveRight 5s ease-in-out infinite;
    z-index: 1;
    opacity: 0.95;
}

.cloud3 {
    position: absolute;
    top: 30px;
    margin-left: -3px;
    animation: moveRight 6s ease-in-out infinite;
    z-index: 0;
    opacity: 0.8;
}

.cloud4 {
    position: absolute;
    top: 20px;
    margin-left: 80px;
    animation: moveRight 7s ease-in-out infinite;
    z-index: 0;
    opacity: 0.8;
}

.userPic {
    opacity: .8;
}

.noChatText {
    width: 100%;
    text-align: center;
    color: #a4a4a4;
    line-height: 1.5;
}

.chatInputWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
    width: 100vw;
    position: fixed;
    padding: 20px 0;
    height: 80px;
    bottom: 0;
    border-top: 1px solid #eaeaea;
    background-color: white;
}

.inputContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 8px;
}

.chatInput {
    width: 280px;
    height: 40px;
    border: 1px solid #cecece;
    border-radius: 8px 0 0 8px;
    padding-left: 8px;
}

.chatInputNoBorder {
    width: 280px;
    height: 40px;
    border: none;
    border-radius: 8px;
    padding-left: 8px;
}

.chatButton {
    width: 50px;
    height: 44px;
    border: none;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
    background-color: #76caea;
    color: white;
}

.loader {
    margin-left: 8px;
    opacity: .60;
    animation: rotate 4s linear infinite;
}

.chat {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.messages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    min-width: 350px;
    max-width: 400px;
    margin-bottom: 180px;
}

.userChat {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    min-width: 95%;
    margin: auto;
}

.userChatRight {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    align-self: flex-end;
    gap: 20px;
    min-width: 95%;
}

.userChatText {
    background-color: #f3f3f3;
    color: #4d4d4d;
    border-radius: 10px;
    padding: 12px;
    text-align: right;
}

.botChat {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #76caea;
    color: white;
    border-radius: 10px;
    padding: 12px;
}

.footer {
    background-color: #ffb32b;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
    margin-top: 4px;
}

.madeBy {
    color: white;
    cursor: pointer;
}

.madeBy:hover {
    text-decoration: none;
}